<% rails generate migration AddAdminToUsers admin:boolean%>

<div id="new__wrapper">
  <div id="new__content">
    <%= form_with model: @article, local: true do |form| %>
      <div id="new__header">
        <h1>Nova publicação</h1>
        <div id="show__divider"></div>
      </div>

      <div id="new__form_title">
        <%= form.label :title, "Título" %>
        <%= form.text_field :title %>
      </div>

      <div id="new__form_content">
        <%= form.hidden_field :content, id: "article_content" %>
        <%= form.rich_text_area :content, class: "trix-content" %>
      </div>

      <div id="new__form_button">
        <%= form.submit "Create Article" %>
      </div>
    <% end %>
  </div>
</div>